name: Build

on: [push]

jobs:
  build_solution:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.201
    - name: Build .NET
      run: dotnet build --configuration Release
